/*
white : F1F2F3 241 242 243
sky blue: A2B6D8 162 182 216
green/brown : 3D3003 61 48 3
red : 722E19 114 46 25
lighter red: 8D4B3A 141 75 58
lighter red too 8A432C
tan: D79B72 215 155 114
*/
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  /* font-size: 100%; */
  width: 100%;
  font-family: 'Droid Serif', serif;
  font-family: 'Merriweather', serif;
  /* font-family: 'Vollkorn', serif; */
  font-size: 18px;
  color: rgba(41, 41, 41, 1);
  line-height: 32px;
  font-weight: 300;
  /* font-family: 'Roboto', sans-serif; */
  padding: 0;
  margin: 0;
  /* background-color: #F1F2F3; */
  /* color: #424B58; */
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}

.header-bar {
  background-color: black;
}

.header {
  /* font-family: 'Open Sans', sans-serif; */

  color: white;
}

.blog-date {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: rgb(117, 117, 117);

}

.body-content {
  flex: 1 0 auto;

}

.content {
  width: 90%;
  max-width: 680px;
  margin: auto;
  text-align: left;
}

.blog-photo-container {
  text-align: center;
  margin: 25px;
}

.blog-photo {
  max-width: 100%;
}

.blog-photo-caption {
  margin-top: 5px;
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.about-me-heading {
  display: inline;
  /* font-family: 'Droid Serif', sans-serif; */
  font-family: 'Merriweather', serif;

  float: left;
  color: #262626;
  padding: 0;
  margin-top: 30px;
  font-size: 28px;
  font-weight: 400;
  /* font-weight: lighter; */
}

.blog-title {
  /* font-family: 'Droid Serif', sans-serif; */
  font-family: 'Merriweather', serif;

  color: #262626;
  font-size: 28px;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 30px;
  /* margin-bottom:10px; */
}

.goose-logo {
  vertical-align: middle;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.goose-text {
  /* padding-bottom: 10px; */
  /* display:inline-block; */
  /* margin:auto;/ */
}

.blog-heading {
  /* font-family: 'Droid Serif', sans-serif; */
  font-family: 'Merriweather', serif;

  color: #262626;
  font-size: 24px;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 30px;
  /* margin-bottom:10px; */
}

.blog-heading-2 {
  /* font-family: 'Droid Serif', sans-serif; */
  font-family: 'Merriweather', serif;

  color: #262626;
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 30px;
  /* margin-bottom:10px; */
}

.about-me-photo-container {
  width: 100%;
  float: left;
  text-align: center;
}

.about-me-photo {
  width: 90%;
  max-width: 400px;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-links {
  padding-top: 9px;
  padding-left: 10px;
  float: right;
}

.unformat-link {
  color: white;
  text-decoration: none;
}


.blog-link:link {
  color: black;
  text-decoration: none;
}

.blog-link:visited {
  color: black;
  text-decoration: none;
}

.blog-link:hover {
  color: black;
  text-decoration: underline;
}

.blog-link:active {
  color: black;
  text-decoration: underline;
}

.card {
  float: left;
  width: 100%;
}

pre {
  margin: 0;
}

code {
  padding: 20px;
  display: block;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 18.88px;
}

code.inline {
  display: inline;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
  background-color: #ffffff;

}

ul {
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

.blog-body {
  /* font-family: 'Roboto', sans-serif; */
  /* margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 30px;
  float:left;
  width:90%; */
  /* font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif; */
  /* font-size: 21px; */
  color: rgba(41, 41, 41, 1);
  /* line-height: 32px; */
  word-break: break-word;
  /* font-style: normal; */
  /* font-weight: 400; */
}

.smaller-text {
  font-size: 12px;
  line-height: 20px;

}

.static-icon {
  margin-left: 5px;
  margin-top: 2px;
  width: 27px;
  height: 27px;
}

.side-icons {
  margin-top: 25px;
  display: inline;
  float: right;
}

.credits {
  font-size: 10px;
}

@media only screen and (max-width: 650px) {}

@media only screen and (max-width: 500px) {}